{% extends "common.twig" %}

{% block content %}

<table class="table table-bordered table-striped">
    <tr>
        <th>Target</th>
        <th>Server</th>
        <th></th>
    </tr>

{% for target in targets %}
    <tr>
        <td>{{ target.name }}</td>
        <td>{{ target.server }}</td>
        <td>
            <button class="btn deploy-btn-link" data-link="">edit</button>
            <button class="btn deploy-btn-link" data-link="">delete</button>
            <button class="btn deploy-btn-link btn-primary" data-link="{{path('deploy_target', {target_id: target.id})}}">deploy</button>
        </td>
    </tr>    
{% else %}
    <tr>
        <td colspan="4">no repositories available</td>
    </tr>
{% endfor %}
</table>

{% endblock %}